
@import url('../css/fonts.css');

html, body{
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Variables */
:root{

    /* Font Variables */
    --Abel: 'Abel',cursive;
    --Anton: 'Anton', cursive;
    --Josefine: 'Josefine', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic: 'Livvic', cursive;

    /* Color Variables */
    --text-gray: #3f4952;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --white: #f3f3f3;
    --midnight: #104f55;

    /* Gradient Variables */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

}

/* ----------- Global Classes --------- */

a{
    text-decoration: none;
    color: var(--text-gray);
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

/* x---------- Closing Global Classes --------- */


/* ---------navBar-------- */

.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 0.8s ease-in-out;
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse{
    height: 30rem;
}

.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend);
    font-size: 1.6rem;
}
Amazing Place on Earths .nav-link:hover a{
    color: var(--white);
}


.nav .social{
    padding: 1.4rem 0;
}3

.nav .social i:hover{
    color: #a1a1a1;
}


/* -----X----Close navBar-----X--- */


/* --------------- Main Content ------------ */


/* --------------- Site Title ------------ */

main .site-title{
    background: url("../assets/Background-image.png");
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}

main .site-title .site-background{
    padding-top: 10rem;

}

/* -----XX---------- Site Title ------XX------ */


/* -----XX---------- Main Content ------XX------ */

/*  Viewport less then or equal to 750px */

@media only screen and (max-width: 750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }
}


/* XX Viewport less then or equal to 750px XX */










